In [1]:
import pandas as  pd
import numpy as np

In [2]:
ups=pd.read_csv('https://s3.amazonaws.com/for-large-files/markting/m.csv')

In [8]:
them=ups["cust_id"][3534:3554]

In [9]:
ups.head()

,cust_id,145519008,145519009,145519010,145519011,145519012,148066012,152576008,152576009,152576010,...,999996335,999996618,999997260,999997286,999997419,999997533,999998779,999999154,999999155,999999193
0,29568,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,29909,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,39856,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,109693,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,289996,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Need a function that can take a customer ID as input and return a list of all the items they have purcahsed.

Name: get_items
Input: Customer ID(int)
Output: List of items bought(List)

In [65]:
def get_items(customer_id):
    temp=ups.loc[ups["cust_id"]==customer_id]
    bought=list()
    for i,product in zip(range(len(temp.columns)),temp.columns):
        if(temp.iloc[0,i]==1):
           bought.append(product)
    return bought

Make a dictionary of all the customers and their items bought

name: get_scoreframe
input: list of customer ids
output: dict with key=customer id and value= list of products bought

In [169]:
def get_scoreframe(custs):
    mega=list()
    for customer in custs:
        mega=get_items(customer)+mega
    unique=set(mega)
    score=dict()
    for product in unique:
        score[product]=mega.count(product)
    scoreframe=pd.DataFrame.from_dict(score,orient="index")
    scoreframe['product']=scoreframe.index
    scoreframe.columns=['score','product']
    scoreframe["score"]=scoreframe["score"]/len(custs)
    scoreframe['product']=pd.to_numeric(scoreframe['product'])    
    return scoreframe

In [109]:
increments=pd.read_csv("https://s3.amazonaws.com/for-large-files/markting/incremental_sales.csv")

In [113]:
increments=increments.loc[:,['prod_id','incremental']]

Make a function to return the top n recommneded products for each customer
name: get_recommended_products
input: customer's scoreframe
output: list of n products

In [164]:
def get_recommended_products(customer_frame):
    big_score=customer_frame.merge(increments,left_on='product',right_on='prod_id')
    big_score['ExpectedValue']=big_score['score']*big_score['incremental']
    return big_score.sort_values('ExpectedValue',ascending=False).loc[:,['product','ExpectedValue']].iloc[0:5,:]

In [172]:
item={109693:custs, 29909:custs}

In [174]:
for customer,nsimilar in zip(item.keys,ite.values):
    print(customer)

NameError: name 'ite' is not defined